.badge-container,
.coupon-container,
.layout-container,
.uploadImg-container,
.share-container,
.waterfall-container {
  padding-top: 40vw;
}

.badge-desc {
  width: 60%;
  height: 30px;
  border-radius: 15px;
  border: 1px solid #080404;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px auto 18px;
}

.badge-desc > span {
  font-size: 18px;
  font-weight: bold;
  color: #080404;
}

.badge-desc > .icon-arrow-down {
  display: inline-flex;
  width: 15px;
  height: 15px;
  margin-left: 5px;
}

.badge-desc > .icon-arrow-down::before {
  background-color: #000;
  width: 15px;
  height: 15px;
}

.badge-card-container {
  margin: 0 auto;
  padding-bottom: 35px;
  width: 93%;
}

.badge-card-container > :nth-child(n) {
  margin-bottom: 15px;
}

.badge-card-container > .badge-card {
  width: 100%;
  min-height: 110px;
  height: 34vw;
  max-height: 220px;
  border-radius: 10px;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge-card-container > .badge-card > img {
  width: 33%;
  height: auto;
  display: block;
  object-fit: cover;
  margin-right: 12px;
}

.badge-card-container > .badge-card > .desc {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: #080404;
  font-size: 14px;
  font-family: NotoSansTC;
}

.badge-card-container > .badge-card > .desc > .title {
  font-size: 18px;
  font-weight: bold;
}

.badge-card-container > .badge-card > .desc > .go-join {
  width: 94px;
  height: 27px;
  background-color: #f7b933;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #080404;
  font-size: 14px;
  font-weight: bold;
  border-radius: 13px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.badge-card-container > .badge-card > .desc > .go-join > .icon-arrow-right {
  display: inline-flex;
  width: 10px;
  height: 10px;
}

.badge-card-container > .badge-card > .desc > .go-join > .icon-arrow-right::before {
  width: 10px;
  height: 10px;
  background: #080404;
}
