.coupon-container {
  padding-bottom: 25px;
}
.bottle-coupon {
  position: relative;
  width: 86%;
  height: 136vw;
  max-height: 870px;
  border-radius: 13px;
  margin: 20px auto 25px;
  padding: 12px 25px 0;
}
.bottle-coupon::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./images/bg-coupon.webp);
  background-repeat: no-repeat;
  background-size: contain;
}
.bottle-title {
  font-size: 30px;
  color: #080404;
  font-weight: 900;
  margin-bottom: 6px;
}
.bottle-tag {
  background-color: #418fb9;
  border-radius: 13px;
  padding: 0 10px;
  color: #fff;
  text-align: center;
  font-size: 15px;
  display: inline-block;
}
.bottle-expire {
  font-family: Helvetica;
  font-size: 16px;
  color: #418fb9;
  text-align: center;
  display: inline-block;
  border: 1px solid #418fb9;
  border-radius: 13px;
  padding: 0 10px;
}
.bottle-coupon-image {
  width: 55%;
  margin: 20px auto 12px;
  position: relative;
}
.bottle-coupon-image > img {
  width: 100%;
  height: auto;
  display: block;
}
.bottle-coupon-image > .redeem-stamp {
  font-size: 45px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 50%;
  left: -5%;
  transform: translateY(-50%) rotate(350deg);
  background-color: rgba(204, 204, 204, 0.55);
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 5px solid #fff;
  width: 110%;
  text-align: center;
  visibility: hidden;
}

.bottle-coupon-notice {
  font-size: 13px;
  color: #080404;
  border-top: 2px dashed #81afc7;
  padding-top: 22px;
}

.bottle-coupon-notice > .notice-header {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.bottle-coupon-notice > .notice-header > .icon-notification {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 4px;
}

.bottle-coupon-notice > .notice-header > .icon-notification::before {
  width: 15px;
  height: 15px;
  background-color: #000;
}

.bottle-coupon-notice > ol {
  padding-inline-start: 16px;
  margin-block-start: 5px;
  margin-block-start: 5px;
}

.bottle-coupon > .coupon-exchange-btn {
  width: 100%;
  height: 12%;
  background-color: #191616;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f7b933;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.bottle-coupon > .coupon-exchange-btn > .icon-checkmark {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 5px;
}

.bottle-coupon > .coupon-exchange-btn > .icon-checkmark::before {
  background-color: #f7b933;
}

.bottle-coupon.disabled > .bottle-coupon-image > .redeem-stamp {
  visibility: visible;
}
.bottle-coupon.disabled > .coupon-exchange-btn {
  background-color: #888888;
  color: #c6c6c6;
}
.bottle-coupon.disabled > .coupon-exchange-btn > .icon-checkmark::before {
  background-color: #c6c6c6;
}

.bottle-coupon-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(8, 4, 4, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.bottle-coupon-container {
  width: 100vw;
  height: 83vw;
  background-color: #fff;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 27px 38px 31px;
}
.bottle-coupon-container > .coupon-modal-title {
  font-size: 30px;
  font-weight: 900;
  color: #080404;
}

.bottle-coupon-container > .coupon-modal-desc {
  font-size: 16px;
  color: #080404;
}

.bottle-coupon-container > input {
  padding: 15px 20px;
  width: 100%;
  height: 55px;
  border-radius: 10px;
  background-color: #d0d0d0;
  border: 1px solid #d0d0d0;
  color: #7b7b7b;
}
.bottle-coupon-container > input:focus {
  outline: none;
}
.bottle-coupon-container > input::placeholder {
  color: #7b7b7b;
  opacity: 1;
}

.bottle-coupon-container > .coupon-modal-operate-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.bottle-coupon-container > .coupon-modal-operate-btn > :nth-child(n) {
  width: 47%;
  height: 60px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.bottle-coupon-container > .coupon-modal-operate-btn > :first-child {
  background-color: #3e3e3e;
  color: #959595;
}

.bottle-coupon-container > .coupon-modal-operate-btn > :first-child > .icon-cancel {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 5px;
}

.bottle-coupon-container > .coupon-modal-operate-btn > :first-child > .icon-cancel::before {
  background-color: #959595;
}

.bottle-coupon-container > .coupon-modal-operate-btn > :last-child {
  background-color: #f7b933;
  color: #080404;
}

.bottle-coupon-container > .coupon-modal-operate-btn > :last-child > .icon-checkmark {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 5px;
}

.bottle-coupon-container > .coupon-modal-operate-btn > :last-child > .icon-checkmark::before {
  background-color: #080404;
}
