.float-bar {
  position: absolute;
  width: 74px;
  height: 187px;
  right: 0;
  top: 146px;
  background-color: #080404;
  border: 1px solid #6e9295;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  padding: 13px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
}

.float-bar > :not(:last-child) {
  padding-bottom: 8px;
  border-bottom: 1px dashed #f7b933;
}

.float-bar > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.float-bar > div > img {
  width: 26px;
  height: auto;
}

.float-bar > div > span {
  font-size: 12px;
  font-weight: bold;
  color: #f7b933;
}

.index-container {
  padding-top: 110vw;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.index-container > .title {
  font-size: 20px;
  font-weight: 900;
  color: #080404;
  position: relative;
  width: 90vw;
  margin: 0 auto;
  padding-left: 7%;
}

.index-container > .title::before {
  content: '';
  position: absolute;
  top: 50%;
  width: calc(calc(90vw - 100px) * 0.085);
  left: 0;
  border-top: 2px dashed black;
  transform: translateY(-50%);
}

.index-container > .title::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: calc(calc(90vw - 100px) * 0.86);
  border-top: 2px dashed black;
  transform: translateY(-50%);
}

.index-container > .bonus {
  position: relative;
  width: 95%;
  margin: 7px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-container > .bonus > .cheer {
  position: absolute;
  top: -10px;
  right: 0;
  color: #080404;
  font-size: 12px;
  font-weight: bold;
  transform: rotate(9deg);
}

.index-container > .bonus > img {
  width: 50%;
  height: auto;
  display: block;
}

.index-join-btn {
  bottom: 50px;
}

.look-more {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: bold;
  color: #080404;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.look-more > .icon-pure-arrow-left::before {
  width: 14px;
  height: 14px;
  background-color: #080404;
  transform: rotate(-90deg);
}

.index-badge {
  width: 90vw;
  max-width: 576px;
  margin: 40px auto 120px;
}

.badge-title {
  position: relative;
  font-size: 20px;
  font-weight: 900;
  color: #080404;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 28%;
}

.badge-title::before,
.badge-title::after {
  content: '';
  position: absolute;
  top: 50%;
  border-top: 1px solid #080404;
  transform: translateY(50%);
}

.badge-title::before {
  left: 0;
  width: calc(calc(90vw - 140px) * 0.4);
  margin-right: 26px;
}

.badge-title::after {
  right: 0;
  width: calc(calc(90vw - 140px) * 0.5);
  margin-left: 26px;
}

.index-badge-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 10px;
}

.index-badge-container > .badge {
  width: 100%;
  padding: 8px 5px;
  border-radius: 8px;
  box-shadow: 2px 7px 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.index-badge-container > .badge > img {
  width: 90%;
  height: auto;
  display: block;
}

.index-badge-container > .badge > span {
  font-size: 18px;
  color: #080404;
  font-weight: 900;
}
