#page-share {
  position: relative;
  padding-bottom: 20px;
}

.share-img {
  width: 78vw;
  height: 83vw;
  margin: 15px auto;
}

.badge-section {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px auto;
  font-size: 20px;
  width: 85%;
}

.badge-section::before {
  content: '';
  width: 6%;
  border-bottom: 2px dashed #000;
  margin: 0 10px;
}

.badge-section::after {
  content: '';
  width: 62%;
  border-bottom: 2px dashed #000;
  margin: 0 10px;
}

.badge-section span {
  white-space: nowrap; /* 確保文字不換行 */
}

.bonus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.bonus > img {
  width: 50%;
  height: auto;
}

.tmp-btn {
  width: 93%;
  height: 61px;
  border-radius: 30px;
  background-color: #080404;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f7b933;
  font-size: 20px;
  font-weight: bold;
  margin: 20px auto;
}

.tmp-btn > img {
  width: 20px;
  height: auto;
  display: block;
  margin-right: 5px;
}
