#page-share {
  position: relative;
  padding-bottom: 20px;
}

.share-img {
  width: 67vw;
  margin: 15px auto;
}

.share-img > img {
  width: 100%;
  height: auto;
  display: block;
  box-shadow: 6px 3px 15px 0 rgba(0, 0, 0, 0.2);
}

.badge-section {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px auto;
  font-size: 20px;
  font-weight: 900;
  width: 85%;
  position: relative;
}

.badge-section > span {
  margin-left: 6%;
}

.badge-section::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 96%;
  border-bottom: 2px dashed #000;
  transform: translateY(-50%);
}

.badge-section::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 40%;
  right: 0;
  border-bottom: 2px dashed #000;
  transform: translateY(-50%);
}

.badge-section span {
  white-space: nowrap; /* 確保文字不換行 */
}

.bonus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.bonus > img {
  width: 50%;
  height: auto;
}

.tmp-btn {
  width: 93%;
  height: 61px;
  border-radius: 30px;
  background-color: #080404;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f7b933;
  font-size: 20px;
  font-weight: bold;
  margin: 20px auto;
}

.tmp-btn > img {
  width: 20px;
  height: auto;
  display: block;
  margin-right: 5px;
}
