#page-share {
  position: relative;
  padding-bottom: 20px;
}

.share-img {
  width: 67vw;
  margin: 15px auto;
}

.share-img > img {
  width: 100%;
  height: auto;
  display: block;
  box-shadow: 6px 3px 15px 0 rgba(0, 0, 0, 0.2);
}

.badge-section {
  width: 85%;
  margin: 10px auto;
  font-size: 20px;
  font-weight: 900;
  color: #080404;
  position: relative;
  padding-left: 7%;
}

.badge-section::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: calc(calc(85vw - 100px) * 0.1);
  border-top: 2px dashed #000;
  transform: translateY(-50%);
}

.badge-section::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: calc(calc(85vw - 100px) * 0.84);
  border-top: 2px dashed #000;
  transform: translateY(-50%);
}

.bonus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.bonus > img {
  width: 50%;
  height: auto;
}

.tmp-btn {
  width: 93%;
  height: 61px;
  border-radius: 30px;
  background-color: #080404;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f7b933;
  font-size: 20px;
  font-weight: bold;
  margin: 10px auto;
}

.tmp-btn > img {
  width: 20px;
  height: auto;
  display: block;
  margin-right: 5px;
}
